@import "tailwindcss";

:root {
  /* Forcing a deep space dark background by default */
  --background: #050505; 
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}